main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    margin-top: 64px;
    color: darkmagenta;
    font-family: 'Ubuntu';
    font-size: 48px;
}

label {
    margin: 32px 0;
    font-size: 24px;
}

.input {
    margin: 32px 0;
    width: 50%;
    line-height: 24px;
    font-size: 24px;
}

.button {
    margin: 8px 0;
    padding: 8px;
    border-radius: 8px;
    background-color: darkviolet;
    color: #F5F5F5;
    font-size: 24px;
    border: 1px solid darkviolet;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    color: darkviolet;
    background-color: #f5f5f5;
}
